{{#if src}}
    <button class="button" data-type="round">
        <img src="{{src}}" alt="arrow" />
    </button>
{{else}}
    <button class="button" data-type="default">
        {{content}}
    </button>
{{/if}}
