.roundButton,
.button {
    border: none;
    cursor: pointer;
    background-color: #3369F3;
    color: #FFF;
}

.roundButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: .7px;
    height: 37px;
    border-radius: 8px;
}