<div class="chatItem">
    <div class="chatItem__avatar">
        {{{Avatar}}}
    </div>
    <div class="chatItem__content">
        <h4>{{title}}</h4>
        <p></p>
    </div>
    <div class="chatItem__info">
        <p>10:49</p>
        {{#if Notification}}
            <div class="chatItem__info__button">
                {{{Notification}}}
            </div>
        {{/if}}
    </div>
</div>
