<form>
    <h2 class="signin__title">Вход</h2>
    <div class="signin__inputs">
        {{#each Inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="signin__footer">
        {{{SignButton}}}
        {{{Link}}}
    </div>
</form>
