<section class="dialog">
    {{#if currentChat}}
        {{{DialogHeader}}}
        <div class="dialog__content">
            {{#if Messages}}
                {{#each Messages}}
                    {{{this}}}
                {{/each}}
            {{/if}}
        </div>
        {{{SendMessage}}}
    {{else}} 
        <h2>Чат не выбран</h2>
    {{/if}}
</section>
