.input {
    border-bottom: 1px solid #3369F3;
    width: 100%;
    height: 34px;
    padding: 8px 0 7px 0;
    color: #1E1E1E;
    font-size: 16px;
    margin-bottom: 7px;
    &__label {
        font-size: 11px;
        color: #999;
    }
    &__error {
        font-size: 11px;
        color: #FF2F2F;
        display: none;
        &.active {
            display: inline;
        }
    }
    &[type='password'] {
        letter-spacing: 1.5px;
        font-size: 18px;
    }
    &[type='password']::placeholder {
        letter-spacing: normal;
        font-size: 16px;
    }
}