<main class="profilePage">
    {{>PrevLink}}
    <div class="profilePage__info">
        <div class="avatar">
            <div class="avatar__img"></div>
            <h2>Иван</h2>
        </div>
        <div class="profilePage__infoFields">
            {{>InfoField label="Почта" value="pochta@yandex.ru" }}
            {{>InfoField label="Логин" value="ivanivanov" }}
            {{>InfoField label="Имя" value="Иван" }}
            {{>InfoField label="Фамилия" value="Иванов" }}
            {{>InfoField label="Имя в чате" value="Иван" }}
            {{>InfoField label="Телефон" value="+7 (909) 967 30 30" type="last" }}
        </div>
        <div class="profilePage__links">
            <div>
                {{>Link href="#" content="Изменить данные" }}
            </div>
            <div>
                {{>Link href="#" content="Изменить пароль" }}
            </div>
            <div>
                {{>Link href="#" content="Выйти" color="red" }}
            </div>
        </div>
    </div>
</main>