<main class="profilePage">
    {{>PrevLink src=icons.button}}
    <div class="profilePage__info">
        <div class="profilePage__avatar">
            {{>Avatar src=icons.avatar}}
        </div>
        {{>ProfilePasswordForm}}
    </div>
</main>