<main class="profilePage">
    {{>PrevLink}}
    <div class="profilePage__info">
        <div class="profilePage__avatar">
            {{>Avatar }}
        </div>
        {{>ProfileDataForm}}
    </div>
</main>