<form>
    <div class="profilePassword__inputs">
        {{>InputInfo name="oldPassword" label="Старый пароль" placeholder="Старый пароль" type="password"}}
        {{>InputInfo name="newPassword" label="Новый пароль" placeholder="Новый пароль" type="password"}}
        {{>InputInfo name="repeatNewPassword" label="Повторите новый пароль" placeholder="Повторите новый пароль" type="password"}}
    </div>
    <div class="profilePassword__saveButton">
        {{>Button content="Сохранить"}}
    </div>
</form>