<form>
    <div class="profilePassword__inputs">
        {{#each Inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="profilePassword__saveButton">
        {{{SaveButton}}}
    </div>
</form>
