<div class="changeAvatar__input__wrapper">
    <input name="avatar" id="avatar" type="file" class="changeAvatar__input">
    <label for="avatar" class="changeAvatar__input__label">Выбрать файл на компьютере</label>
</div>
