@import '/src/styles/variables.scss';
.navigationPages {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 7px 20px 0px;
    text-align: center;
    color: $blue;
    z-index: 2;
    cursor: default;
    background-color: $white;
    &__title {
        margin-bottom: 4px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &:hover {
        height: 262px;
        transition: 0.8s;
    }
}
