<form>
    <div class="profileData__inputs">
        {{#each Inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="profileData__saveButton">
        {{{SaveButton}}}
    </div>
</form>
