@import '/src/styles';
.dialogHeader {
    @extend %centerBlock;
    height: 54px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid $light-grey;
    &__avatar {
        width: 34px;
        height: 34px;
    }
    &__name {
        flex-grow: 1;
        letter-spacing: 0.5px;
        font-weight: 600;
    }
}