@import '/src/styles/variables.scss';
.link {
    color: $blue;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    display: initial;
    margin: auto auto;
    &.red {
        color: $red;
    }
}
