<div class="chatList">
    {{{ChatItem}}}
    {{!-- {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}}
    {{>ChatItem}} --}}
</div>
