<div class="changeAvatar">
    <div class="changeAvatar__avatar">
        {{>Avatar src=avatarIcon}}
    </div>
    <h2>{{title}}</h2>
    {{>Modal partial="ChangeAvatarModal" showModal=showModal}}
</div>
