<form class="changeAvatar__content">
    <h3>Загрузите файл</h3>
    <input name="avatar" id="avatar" type="file" class="changeAvatar__content__input" >
    <label for="avatar" class="changeAvatar__content__input__label">Выбрать файл на компьютере</label>
    <div class="changeAvatar__content__saveButton">
        {{{Button}}}
        {{!-- {{>ErrorMessage error="Нужно выбрать файл" }} --}}
    </div>

</form>
