@import '/src/styles';

.sendMessage {
    @extend %centerBlock;

    height: 54px;
    width: 100%;
    border-top: 1px solid $light-grey;
    gap: 10px;

    &__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &__label {
            cursor: pointer;
        }
    }

    &__input {
        flex-grow: 1;
        background-color: $light-grey;
        height: 32px;
        border-radius: 30px;
        color: $black;
        padding: 10px 20px;
    }

    &__button {
        width: 28px;
        height: 28px;
    }
}
