<div>
    <div class="dialogHeader__features">
        <span></span>
        <span></span>
        <span></span>
        {{{DialogPopover}}}
    </div>
    {{{AddUserModal}}}
    {{{RemoveUserModal}}}
</div>
