<form>
    <h2 class="login__title">Вход</h2>
    <div class="login__inputs">
        {{>Input name="login" label="Логин" placeholder="Логин" errorMessage="Неверный логин" type="text"}}
        {{>Input name="password" label="Пароль" placeholder="Пароль" errorMessage="Неверный пароль" type="password"}}
    </div>
    <div class="login__footer">
        {{>Button type="primary" content="Авторизоваться"}}
        {{>Link href="#" content="Нет аккаунта?" }}
    </div>
</form>