<form>
    <h2 class="login__title">Вход</h2>
    <div class="login__inputs">
        {{#each Inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="login__footer">
        {{{AuthButton}}}
        {{{Link}}}
    </div>
</form>
