<div class="incomeMessage">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet suscipit nobis error nisi consequuntur veritatis pariatur numquam illo facilis explicabo esse, aperiam, ipsum nulla, voluptas neque dolorum accusamus! Cumque, repellat.</p>
</div>
