@import '/src/styles';
.infoField {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    font-size: 14px;
    &__value {
        color: $grey;
        text-align: end;
    }
}