<main class="container">
    <div class="errorPage">
        <h1 class="errorPage__title">{{ code }}</h1>
        <h2 class="errorPage__description">{{ message }}</h2>
        {{>Link content="Назад к чатам"}}
    </div>
</main>
